[submodule "Quick"]
	path = Quick
	url = https://github.com/modocache/Quick.git
[submodule "Submodules/ExSwift"]
	path = Submodules/ExSwift
	url = git@github.com:pNre/ExSwift.git
[submodule "Submodules/Quick"]
	path = Submodules/Quick
	url = https://github.com/drmohundro/Quick.git
[submodule "Submodules/Nimble"]
	path = Submodules/Nimble
	url = https://github.com/drmohundro/Nimble.git
